apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-frontend
  namespace: quotes-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web-frontend
  template:
    metadata:
      labels:
        app: web-frontend
    spec:
      containers:
        - name: web-frontend
          image: samipn/web-frontend:1.0.0
          imagePullPolicy: IfNotPresent
          env:
            - name: QUOTES_API_URL
              value: "http://quotes-api:4000"
          ports:
            - containerPort: 3000
