apiVersion: v1
kind: Service
metadata:
  name: web-frontend
  namespace: quotes-app
spec:
  type: NodePort
  selector:
    app: web-frontend
  ports:
    - port: 80
      targetPort: 3000
      nodePort: 30080
